<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Login</h1>
<form method="post" action="#" th:action="login" th:object="${loginRequest}">
    Email: <input type="text" th:field="*{email}"/>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div><br><br>
    Password: <input type="password" th:field="*{pass}"/>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{pass}">Password Error</div><br><br>
    <button type="submit">Submit form</button>
</form>
</body>
</html>