* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

a {
  font-weight: 300;
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
body {
  font-family: "Nunito Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: normal;
  font-variant: normal;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* header */
.logo-img {
  background: #8db1ab;
}
.icon {
  width: 24px;
}
.logo {
  margin: auto;
  line-height: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #8db1ab;
}
.m-t30 {
  padding: 35px;
}
.header-h1 {
  margin: 10px 0 5px 0;
  font-weight: 600;
  line-height: 1;
  font-size: 26px;
  letter-spacing: 2px;
}
.header-p {
  letter-spacing: 2px;
  margin-top: -5px;
  color: #8db1ab;
  font-weight: 600;
  font-size: 14px;
}
.up {
  text-transform: uppercase;
}
.color {
  color: #8db1ab;
}

/* nav */
.nav-item {
  font-weight: 600;
  padding: 20px;
}
hr {
  border-top: 0.5px solid #dfe9e7;
}
.f-w600 {
  font-weight: 600;
}
/* article */
.article-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 5px;
}
.padding-ar {
  padding: 50px 15px;
}

/* footer */
footer {
  padding: 100px 0;
}
.img-footer {
  background: #8db1ab;
  height: 20px;
  background-color: #f5f6f8;
}
.icon-item {
  width: 50px;
  height: 50px;
  background-color: #f5f6f8;
  line-height: 50px;
  border-radius: 4px;
  margin-left: 15px;
}

.footer-h2 {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #000000;
  letter-spacing: 2px;
}
.footer-p {
  margin-bottom: 10px;

  font-weight: 400;
}
.f-p {
  padding-top: 100px;
}
.a-foot {
  font-weight: 500;
}
/* flex */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -30px;
}

.row > * {
  flex-grow: 0;
  flex-shrink: 1;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px;
}

.col-1 {
  flex-basis: 8.333333%;
}

.col-2 {
  flex-basis: 16.666666%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.333333%;
}

.col-5 {
  flex-basis: 41.666666%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.333333%;
}

.col-8 {
  flex-basis: 66.666666%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.333333%;
}

.col-11 {
  flex-basis: 91.666666%;
}

.col-12 {
  flex-basis: 100%;
}

.column {
  flex-direction: column;
}
.jus-center {
  justify-content: center;
}
.jus-start {
  justify-content: flex-start;
}
.jus-end {
  justify-content: flex-end;
}
.jus-between {
  justify-content: space-between;
}
.jus-around {
  justify-content: space-around;
}
.text-center {
  text-align: center;
}
.align-center {
  align-items: center;
}
.hover a:hover {
  text-decoration: 2px underline;
  color: #8db1ab;
}
