<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="topmenu">

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/job/list">Job</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/employer/list">employer</a>
    </li>
<!--    <li class="nav-item active">-->
<!--      <a class="nav-link" aria-current="page" href="/applicant/list">applicant</a>-->
<!--    </li>-->
  </ul>
</div>
<div th:fragment="footer"> </div>
</body>
</html>