<!doctype html>
<html lang="en">

<head>
    <title>New Product</title>
    <!--    Asg.p5-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- fa5-$-css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/admin.css">
</head>

<body class="">

    <main class="container ">

        <header class="row text-center">
        </header>

        <section class="row ">

            <div class="col  mt-4 ">
                <form action="" method="post">
                    <!--            b4-card-head-foot : chuyen mau tung o-->
                    <div class="card bg-transparen">
                        <div class="card-header text-title">
                            <h2>Add New Product</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">

                                    <!-- b4-form-input-text -->
                                    <div class="form-group">
                                        <label for="productId">Product id :</label>
                                        <input type="text" class="form-control" name="productId" id="productId" aria-describedby="productIdHid" placeholder="productId">
                                        <small id="productIdHid" class="form-text text-muted">product id is required</small>
                                    </div>

                                    <!-- b4-form-input-text -->
                                    <div class="form-group">
                                        <label for="name">Name </label>
                                        <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHid" placeholder="Name ">
                                        <small id="nameHid" class="form-text text-muted">Name is required</small>
                                    </div>
                                    <!-- b4-form-input-text -->
                                    <div class="form-group">
                                        <label for="quantity">Quantity </label>
                                        <input type="text" class="form-control" name="quantity" id="quantity" aria-describedby="quantityHid" placeholder="Quantity">
                                        <small id="quantityHid" class="form-text text-muted">Quantity is required</small>
                                    </div>

                                    <!-- b4-igroup-text-both-->
                                    <div class="input-group form-group">
                                        <span class="input-group-text">Unit Price </span>
                                        <input type="number" name="unitPrice" id="unitPrice" class="form-control" placeholder="Unit price">
                                        <span class="input-group-text">$</span>
                                    </div>

                                    <!--b4-igroup-text-both-->
                                    <div class="input-group form-group">
                                        <span class="input-group-text">Discount </span>
                                        <input type="number" name="discount" id="discount" class="form-control" placeholder="Discoutn">
                                        <span class="input-group-text">%</span>
                                    </div>
                                    <!-- b4-form-select -->
                                    <div class="form-group">
                                        <label for="categoryId">Category </label>
                                        <select class="form-control" name="categoryId" id="categoryId">
                                    <option>C1 </option>
                                    <option>C2</option>
                                    <option>C3</option>
                                </select>
                                    </div>
                                    <!-- b4-form-select -->
                                    <div class="form-group">
                                        <label for="status">Status </label>
                                        <select class="form-control" name="status" id="status">
                                    <option>Out of stock</option>
                                    <option>On sale</option>
                                    <option>Featured</option>
                                    <option>Bestseller</option>
                                    <option>Out of Order</option>
                                </select>
                                    </div>

                                </div>
                                <div class="col-3">
                                    <!-- b4-img-defa -->
                                    <img src="/static/images/logoBlack.png" class="img-fluid rounded-top" alt="" width="90%">
                                    <!-- b4-form-file -->
                                    <div class="form-group">
                                        <label for="productImage">image file </label>
                                        <input type="file" class="form-control-file" name="productImage" id="productImage" placeholder="image file " aria-describedby="productImageHid">
                                        <small id="productImageHid" class="form-text text-muted">Product image is require</small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <!-- b4-textarea -->
                                    <div class="form-group">
                                        <label for="description">Description </label>
                                        <textarea class="form-control" name="description" id="description" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                        </div>
                        <div class="card-footer text-muted">
                            <button class="btn btn-success">Reset</button>
                            <button class="btn btn-success">Save</button>
                            <button class="btn btn-danger float-right">Exit</button>

                        </div>
                    </div>
                </form>
            </div>
        </section>
        <footer class="row">

        </footer>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>