<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="search">
    <div class="row">
        <div class="col-md-4">
            <div class="seach-form d-flex align-items-center rounded shadow-sm mb-4 pe-3">
                <input type="text" placeholder="Tìm kiếm khóa học" class="form-control border-0 seach-form-input">
                <span class="text-black-50 seach-form-button"><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>